Copy from the [website](https://www.kaggle.com/code/mehmetlaudatekman/text-classification-svm-explained/notebook). See that website for details

In [1]:
# import packages 

import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
import pickle
import time
import re

In [2]:
# load training and test datasets

train_set = pd.read_csv('Corona_NLP_train.csv',encoding="latin1") # do not forget to change the path
test_set = pd.read_csv('Corona_NLP_test.csv',encoding="latin1")

In [3]:
# remove unrelevant_features

unrelevant_features = ["UserName","ScreenName","Location","TweetAt"]
train_set.drop(unrelevant_features,inplace=True,axis=1)
test_set.drop(unrelevant_features,inplace=True,axis=1)
train_set.head()

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [4]:
# split data based on sentiment values: positive, neutral or negative.
# Extremely positive is combined with positive. Similar to extremely negative
train_set["Sentiment"].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [5]:
positives = train_set[(train_set["Sentiment"] == "Positive") | (train_set["Sentiment"] == "Extremely Positive")]
positives_test = test_set[(test_set["Sentiment"] == "Positive") | (test_set["Sentiment"] == "Extremely Positive")]
print(positives["Sentiment"].value_counts())
positives.head()

Positive              11422
Extremely Positive     6624
Name: Sentiment, dtype: int64

                                       OriginalTweet Sentiment
1  advice Talk to your neighbours family to excha...  Positive
2  Coronavirus Australia: Woolworths to give elde...  Positive
3  My food stock is not the only one which is emp...  Positive
5  As news of the regionÂs first confirmed COVID...  Positive
6  Cashier at grocery store was sharing his insig...  Positive

In [6]:
negatives = train_set[(train_set["Sentiment"] == "Negative") | (train_set["Sentiment"] == "Extremely Negative")]
negatives_test = test_set[(test_set["Sentiment"] == "Negative") | (test_set["Sentiment"] == "Extremely Negative")]
print(negatives["Sentiment"].value_counts())
negatives.head()

Negative              9917
Extremely Negative    5481
Name: Sentiment, dtype: int64

                                        OriginalTweet           Sentiment
4   Me, ready to go at supermarket during the #COV...  Extremely Negative
9   For corona prevention,we should stop to buy th...            Negative
20  with 100  nations inficted with  covid  19  th...  Extremely Negative
24  @10DowningStreet @grantshapps what is being do...            Negative
26  In preparation for higher demand and a potenti...            Negative

In [7]:
neutrals = train_set[train_set["Sentiment"] == "Neutral"]
neutrals_test = test_set[test_set["Sentiment"] == "Neutral"]
print(neutrals["Sentiment"].value_counts())
neutrals.head()

Neutral    7713
Name: Sentiment, dtype: int64

                                        OriginalTweet Sentiment
0   @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   Neutral
7   Was at the supermarket today. Didn't buy toile...   Neutral
10  All month there hasn't been crowding in the su...   Neutral
16  ????? ????? ????? ????? ??\r\r\n?????? ????? ?...   Neutral
17  @eyeonthearctic 16MAR20 Russia consumer survei...   Neutral

In [8]:
# Convert labels into integers 
# convert negatives as 0
# neutrals as 1 
# and positives as 2.

import warnings as wrn
wrn.filterwarnings('ignore')

negatives["Sentiment"] = 0 
negatives_test["Sentiment"] = 0

positives["Sentiment"] = 2
positives_test["Sentiment"] = 2

neutrals["Sentiment"] = 1
neutrals_test["Sentiment"] = 1

In [9]:
# concatenate train and test first, will split them after processing.

data = pd.concat([positives,
                  positives_test,
                  neutrals,
                  neutrals_test,
                  negatives,
                  negatives_test
                 ],axis=0)

data.reset_index(inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44955 entries, 0 to 44954
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          44955 non-null  int64
 1   OriginalTweet  44955 non-null  object
 2   Sentiment      44955 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.0+ MB

In [11]:
data.head()

   index                                      OriginalTweet  Sentiment
0      1  advice Talk to your neighbours family to excha...          2
1      2  Coronavirus Australia: Woolworths to give elde...          2
2      3  My food stock is not the only one which is emp...          2
3      5  As news of the regionÂs first confirmed COVID...          2
4      6  Cashier at grocery store was sharing his insig...          2

#### Data processing using nltk package
Here are what the author did to clean the data:

- Cleaning Links: We'll clean all website links using regular expressions
- Cleaning Everything Except Alphabetical and Numerical Characters: We'll clean unrelevant digits using regular expressions
- Tokenizing and Lemmatizing: We'll split texts into their words and convert words to their base form (dogs=>dog)
- Removing Stopwords: We'll remove words that have no special meaning (such as the,will,was)
- Joining Prepared Strings: We'll join the words
- Bag of Words Approach: We'll create a bag of word. In bag of words approach each feature shows whether the text contains the word or not. For instance if our text contains grocery word, its grocery feature will be 1 if not it will be 0.

#### nltk package is extremely popular in NLP. Unfortunately, we do not have time to cover it. It is better you could figure out the code in the next chunk.

A good website to learn word_tokenize is this one: https://www.nltk.org/api/nltk.tokenize.html

In [12]:
cleanedData = []

lemma = WordNetLemmatizer()
swords = stopwords.words("english")
for text in data["OriginalTweet"]:
    
    # Cleaning links
    text = re.sub(r'http\S+', '', text)
    
    # Cleaning everything except alphabetical and numerical characters
    text = re.sub("[^a-zA-Z0-9]"," ",text)
    
    # Tokenizing and lemmatizing
    text = nltk.word_tokenize(text.lower())
    text = [lemma.lemmatize(word) for word in text]
    
    # Removing stopwords
    text = [word for word in text if word not in swords]
    
    # Joining
    text = " ".join(text)
    
    cleanedData.append(text)

In [13]:
# check the output text

for i in range(0,5):
    print(cleanedData[i],end="\n\n")

advice talk neighbour family exchange phone number create contact list phone number neighbour school employer chemist gp set online shopping account po adequate supply regular med order

coronavirus australia woolworth give elderly disabled dedicated shopping hour amid covid 19 outbreak

food stock one empty please panic enough food everyone take need stay calm stay safe covid19france covid 19 covid19 coronavirus confinement confinementotal confinementgeneral

news region first confirmed covid 19 case came sullivan county last week people flocked area store purchase cleaning supply hand sanitizer food toilet paper good tim dodson report

cashier grocery store wa sharing insight covid 19 prove credibility commented civics class know talking

In [14]:
# create the bag of words

vectorizer = CountVectorizer(max_features=10000)
BOW = vectorizer.fit_transform(cleanedData)

In [15]:
# split the dataset into training and test

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(BOW,np.asarray(data["Sentiment"]))

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(33716, 10000)
(11239, 10000)
(33716,)
(11239,)